# Pandas

**Pandas** is a Python library that provides extensive capabilities for data analysis. With its help, it is very convenient to load, process and analyze tabular data using SQL-like queries. In conjunction with the Libraries Matplotlib and Seaborn, it is possible to conveniently visually analyze tabular data.

In [1]:
import pandas as pd
import numpy as np
# magic to display graphs in a notebook
%matplotlib inline

At first, it is good to keep a cheat sheet with a set of useful functions at hand

In [ ]:
from IPython.display import Image
Image('pandas1.png')

In [ ]:
from IPython.display import Image
Image('pandas2.jpg')

The main data structures in Pandas are the Series and DataFrame classes. The first is a one-dimensional indexed data array of some fixed type. The second is a two-dimensional data structure, which is a table, each column of which contains data of the same type. You can represent it as a dictionary of objects of type Series. The DataFrame structure is great for representing real data: rows correspond to characteristic descriptions of individual objects, and columns correspond to characteristics.

To begin with, let's consider simple examples of creating such objects and possible operations on them.

### Series


**Create a Series object from 5 elements indexed with letters:**

In [2]:
salaries = pd.Series([400, 300, 200, 250], 
              index = ['Andrew', 'Bob', 
                       'Charles', 'Ann']) 
salaries

Andrew     400
Bob        300
Charles    200
Ann        250
dtype: int64

In [3]:
salaries[salaries > 250]

Andrew    400
Bob       300
dtype: int64

**Indexing is possible as s.Name or s['Name'].**

In [4]:
salaries.Andrew == salaries['Andrew']

True

In [5]:
salaries['Andrew'], salaries.Andrew

(400, 400)

**Series supports data gaps.**

In [6]:
salaries['Carl'] = np.nan
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl         NaN
dtype: float64

In [7]:
salaries['Carl']

nan

In [8]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl         NaN
dtype: float64

In [9]:
salaries.fillna(salaries.median(), inplace=True)

In [10]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl       275.0
dtype: float64

**Series objects are similar to ndarray and can be passed as arguments to most functions from Numpy.**

In [11]:
print('Второй элемент серии', salaries[1], '\n')
# Smart indexing
print(salaries[:3], '\n')
print(len(salaries[salaries > 0]), 'Положительных значение\n')

Второй элемент серии 300.0

Andrew     400.0
Bob        300.0
Charles    200.0
dtype: float64

5 Положительных значение

In [12]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl       275.0
dtype: float64

In [13]:
print(np.exp(salaries))

Andrew     5.221470e+173
Bob        1.942426e+130
Charles     7.225974e+86
Ann        3.746455e+108
Carl       2.697631e+119
dtype: float64

### DataFrame

### Create and edit

**An alternative way is to create a DataFrame from a numpy dictionary of arrays or lists.**

In [14]:
df2 = pd.DataFrame({'A': np.random.random(5), 
                    'B': ['a', 'b', 'c', 'd', 'e'], 
                    'C': np.arange(5) > 2})
df2

          A  B      C
0  0.769891  a  False
1  0.951775  b  False
2  0.910265  c  False
3  0.092469  d   True
4  0.117180  e   True

In [15]:
type(df2)

pandas.core.frame.DataFrame

**Accessing elements (or whole chunks of a frame) :**

In [17]:
print('Item at 3rd position in column 3 = ', df2.at[3, 'B'], '\n')
print(df2.loc[1:4, 'A':'C'])

Item at 3rd position in column 3 =  d

          A  B      C
1  0.951775  b  False
2  0.910265  c  False
3  0.092469  d   True
4  0.117180  e   True

**Change elements and add new ones:**

In [ ]:
df2.at[2, 'B'] = 'f'
df2

In [ ]:
df2.loc[4]

In [ ]:
df2.loc[5] = [3.1415, 'c', False]
df2

In [ ]:
df1 = df2.copy()
df1

In [ ]:
df1.columns = ['A', 'B', 'C']
df3 = df1.append(df2)
df3

#### Обработка пропущенных значений

In [ ]:
df1.at['o2', 'A'] = np.nan
df1.at['o4', 'C'] = np.nan
df1

**Булева маска для пропущенных значений (True - там, где был пропуск, иначе - False):**

In [ ]:
pd.isnull(df1)

**Можно удалить все строки, где есть хотя бы один пропуск.**

In [ ]:
df1

In [ ]:
df1.dropna(axis=0)

In [ ]:
df1

In [ ]:
df1.shape

In [ ]:
df1.shape[0]*[0]

In [ ]:
df1['D'] = df1.shape[0]*[np.nan]

In [ ]:
df1

In [ ]:
df1.dropna(how='all', axis=1)

**Пропуски можно заменить каким-то значением.**

In [ ]:
df1.fillna()

## Example of primary data analysis with Pandas

In [19]:
import os
import pandas as pd

Let's consider this library on the example of [data](https://www.kaggle.com/c/titanic/data) [competition](https://www.kaggle.com/c/titanic) about the prediction of the fate of the passengers of the titanic liner. There is some information about passengers, according to which it is necessary to predict the survival rate of each of them.
* What type of task is this?
* What are the objects?
* What are the answers?
* What are the possible signs? What types are they?

Скачаем данные:

In [ ]:
pass_data = pd.read_csv('titanic.csv', sep='\t')

The data is a table where the row is the object and the column is the feature. To save space, you can display a specified number of the first lines of the object using the head() method:

In [ ]:
pass_data.tail(10)

In [ ]:
pass_data.head(3)

In [ ]:
pass_data

Let's look at the signs:

In [ ]:
pass_data.columns

In this notebook we thought that the column names begin with a small letter, and in the data the first letter is capitalized, we will have to correct:

In [ ]:
pass_data.info()

In [ ]:
pass_data = pass_data.rename(str.lower, axis="columns")

The data can be indexed using row/column numbers or feature names:

In [ ]:
pass_data[2:5]

In [ ]:
pass_data.iloc[1:5, 1:3]

In [ ]:
pass_data.loc[1:5, "survived":"pclass"]

In [ ]:
pass_data['name'].head()

In [ ]:
pass_data[['name', 'sex', 'pclass']].head()

There is also logical indexing, which allows you to consider certain groups of objects:

In [ ]:
pass_data[pass_data['sex'] == 'female'].head() # females on board

In [ ]:
pass_data.shape

In [ ]:
# TASK: Bring women over 60 and men on board
# Your code is here

& - and, | - or

In [ ]:
# TASK: Smlottrim, bortu bыlo relative molodыh ginseng,
# Pussy-shtitch in odinochku It's all over the world, it's very small,
# He's a duck in a tacoe dlyte, molodыh devushek, i've never let go of the rest of my life.
# Your code
#

In addition, for a given feature, you can build a histogram:

In [ ]:
pass_data.age.hist(bins = 10)

## Editing a DataFrame

* Renaming features

In [ ]:
pass_data.rename(columns={'sex': 'Sex'}, inplace=True)
pass_data.head()

* Apply a transform to an existing feature. For example, let's highlight the surname:

In [ ]:
# TASK: написать функцию возвращающее фамилию
def get_last_name():
    pass

* Add a feature

In [ ]:
pass_data['Last_name'] = last_names
pass_data.head()

* Remove a feature

In [ ]:
pass_data.drop('Last_name', axis=1).head()

In [ ]:
pass_data.head()

In [ ]:
pass_data.drop('Last_name', axis=1, inplace=True)
pass_data.head()

* Working with missed data

In [ ]:
pass_data.info()


The isnull() and notnull() methods allow you to get a binary array that reflects the absence or presence of data for each of the objects, respectively:

In [ ]:
pass_data['cabin'].isnull().head()

pass_data[pass_data['cabin'].notnull()].head() # passengers with a known evacuation boat number

* Sorting objects/features

In [ ]:
pass_data.sort_values(by=['pclass', 'fare'], ascending=True).head()

In [ ]:
pass_data.sort_values(by=['pclass', 'fare'], ascending=[True, False]).head()

## Grouping data

Grouping using the groupby method allows you to combine data into groups by one or more characteristics and calculate common statistics on them.

In [ ]:
pass_data.groupby('Sex') # partitioning of all objects into 2 groups by gender

In [ ]:
pass_data.groupby('Sex')['pclass'].value_counts()

In [ ]:
pass_data.groupby('pclass')['fare'].describe()

In [ ]:
pass_data.groupby('Sex')['age'].mean() # average age for passengers of each of the sexes

As you know, women and children were the first to be rescued in order to upgrade the class, so the proportion of surviving women is likely to be higher than the proportion of surviving men. Check:

In [ ]:
pass_data.groupby('Sex')['survived'].mean()

Similarly for passengers of different classes:

In [ ]:
pass_data.groupby('pclass')[['survived', 'age']].mean()

The statistical data discussed above can also be considered in the form of a standard DataFrame:

In [ ]:
pass_data.groupby('Sex', as_index=False)['survived'].mean()

## Data retention

You can also save the data to a file:

In [ ]:
pass_data.to_csv('titanic_2.csv', index=False)

# Try yourself

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# 1. create dataframe
# Your code is here

In [ ]:
# Display the first 3 lines
# Your code is here

In [ ]:
# Display values where age is missing
# Your code is here

In [ ]:
# Print the amount of all visits
# Your code is here

In [ ]:
# Count the number of each type in the animal column
# Your code is here